*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
JSON_Parsing_script/Untitled.ipynb
JSON_Parsing_script/.ipynb_checkpoints/Untitled-checkpoint.ipynb
JSON_Parsing_script/temp/AllCards.csv
JSON_Parsing_script/temp/AllSets.csv
